#poster, #missing-poster{
    height: 215px;
}

.jumbotron, .navbar, #search-results {
    margin: 15px;
}

.container {
    background-color: #b99359;
    /*background-color: #0a0515;*/
}

h2 {
    color: #000000;
}

#movide-desc, #movie-details {
    box-shadow: 0 0 1px black;
    padding: 30px;
    background-color: #eeeeef;
    border-radius: 6px;
    margin-bottom: 20px;
}

#detail-poster {
    box-shadow: 8px 8px 10px 1px black;
}

#title-rating {
    display: inline-flex;
}

#rating {
    float: right;
}



