<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:include="index :: header"></div>

<body>
    <div class="container" >
        <div class="row">
            <div th:include="index :: navbar"></div>

            <div class="container">
                <div class="item col-xs-10 col-lg-12" id="movie-details">
                    <div class="item col-xs-4 col-lg-4">
                        <img class="pull-left img-responsive" id="detail-poster" src="" th:attr="src=${movieDetails.getPoster()}"/>
                    </div>
                    <div class="item col-xs-6 col-lg-8 pull-right" id="movide-desc">
                        <span >
                            <h2 id="title-rating" th:text="${movieDetails.getTitle() + ' ' + '(' + movieDetails.getYear() + ')'}"></h2>
                            <h3 id="rating" th:text="'Rating: ' + ${movieDetails.getImdbRating()}"></h3>
                        </span>
                        <p>
                            <div th:text="${movieDetails.getRuntime() + ' | ' + movieDetails.getGenre() + ' | ' + movieDetails.getReleased() + ' | ' + movieDetails.getLanguage()}"> Runtime | Genre | Released | Language </div>
                        </p>
                        <p>
                        <div th:text="'Rated: ' + ${movieDetails.getRated()}"></div>
                        </p>
                        <p>
                            <div th:text="'Director: ' + ${movieDetails.getDirector()}"></div>
                            <div th:text="'Writer: ' + ${movieDetails.getWriter()}"></div>
                            <div th:text="'Actors: ' + ${movieDetails.getActors()}"></div>
                        </p>
                        <p>
                            <div>Plot:</div>
                            <div th:text="${movieDetails.getPlot()}"></div>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <footer class="container-fluid text-center">

    </footer>

</body>

</html>